<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
	<title>Better Days | Home</title>
</head>
<body>

	{% include "navbar.html" %}


	<h1>Welcome to Better Days</h1>
	<h2>We are here for people living with depression in the Roxbury, MA area. Depression affects many different people from many different walks of life. This is a community where many people feel like they are alone in how they feel and what they are experiencing. It is sometimes hard to find places that provide therapy and treatment for depression. Many People do not know where to look. Here at Better Days we aim to provide that safe space and offer resources that may otherwise be hard to find. We wanted to create a place where people can feel connected with one another and know that they are not alone in the world and find help in their area.</h2>
	<div class= "Logo">
	</div>
</body>
</html>