<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='support.css') }}">
	<title>Better Days | Support</title>
</head>
<body>

	{% include "navbar.html" %}

<div class= "Blocks">
	</div>
	<img src="{{url_for('static', filename='hands_alone.jpg')}}" class="img"/>
	<h1> Find Support Here</h1>
	<h2>Mental Health Programs in Roxbury:</h2>
	<h3>
		<div class="sites">
		1) Roxbury Multi-ServiceCenter, Inc.
		<br>
		Behavioral Health Clinic
		<br>
		321 Blue Hill Ave., Roxbury, MA
		<br>
		<div>
		<a href="https://www.roxmulti.org">roxmulti.org</a>
		</div>
		<br>
		 Roxbury Multi-Service Center, Inc. (RMSC) Behavioral Health Clinic provides case management services for children, youth, and families living in the Greater Boston Area.
<br>
<br>
<br>
		2) Community Caring Clinic
		<br>
		55 Warren St., Roxbury, MA 
		<br>
		<div>
			<a href="https://www.roxmulti.org/">roxmulti.org</a>
		</div>
		<br>
		 Roxbury Multi-Service Center, Inc. (RMSC) Behavioral Health Clinic provides case management services for children, youth, and families living in the Greater Boston Area.
<br>
<br>
<br>
		2) Community Caring Clinic
		<br>
		55 Warren St., Roxbury, MA 
		<br>
		<div>
			<a href="https://www.communitycaringclinic.org/">communitycaringclinic.org</a>
			</div>
		<br>
		 Our behavioral health care practice offers services to low-income, migrant, and refugee communities in the Greater Boston area and Central Mass. As a tax-exempt organization in Roxbury, our focus is to provide cost-effective, quality treatment to a wide spectrum of society that may not have acess to quality, comprehensive care. We offer in-home behavioral health care to children, adolescents, young proffessionals, and families to help them cope with inner and enviromental challenges.
		<br>
		<br>
		<br>
		3) Commonwealth Mental Health and Wellness Center
		<br>
		895 Blue Hill Ave. Boston, MA
		<br>
		<div>
			<a href="https://www.cmhwc.com/">cmhwc.com</a>
		</div>
		<br>
		 At CMHWC we employ a holistic approach that intergrates traditional & non-traditional methods of therapy. Our model is one that empowers clients by facilitating a positive collaboration between them, their community supports &our team to improve behavioral health & social needs. We believe CMHWC can provide you with the highest quality of care by providing therapeutic interventions that reduce or eliminate barriers by providing culturally, age, and gender appropriate treatment.
		 </div>
		  </h3>
		<br>
		<br>
		<h4> Here are some online resources that may also be helpful:
		<h5>
			<ul>
			<br>
			<div class="list">
				<div>
					<a href="https://www.innopsych.com/findtherapist/">www.innopsych.com/findtherapist.com</a>
		</div>
			<br>
			<br>
			<div>
					<a href="https://www.unmute.today/">www.unmute.today</a>
			</div>
			<br>
			<br>
			<div>
					<a href="https://www.Betterhelp.com/">www.Betterhelp.com</a>
			</div>
			<br>
			<br>
			<div>
					<a href="https://www.Trytalkspace.com/">www.Trytalkspace.com</a>
			</div>
			<br>
			<br>
			<div>
					<a href="https://www.Orisinstitute.com/">www.Orisinstitute.com</a>
			</div>
			<br>
			<br>
			<div>
					<a href="https://www.Roxburycounselingcenter.com/">www.Roxburycounselingcenter.com</a>
				</ul>
			</div>
			</div>
		</h5> 
</body>
</html>